<!DOCTYPE html>
<html>
<head>
<link href="../../bootstrap.min.css" rel="stylesheet" type="text/css">
<title>Text Layout</title>
</head>
<body>
<div class="container">
<h3>The problem</h3>
<p>Write a C++ program to solve problem 15-4 from the text.</p>
<h3>What to do</h3>
<p>Construct your solution to 15-4 so that it reads all of the text from a file named &quot;input.txt&quot;, prompts the user for a maximum line length, and then prints the text out to the console optimallybroken into lines of length less than or equal to the given maximum.</p>
<p>You should use <a href="input.txt">the text in this file</a> to test your program.</p>
</div>
</body>
</html>
